
customers.helper/obj/project.nuget.cache
customers.helper/obj/project.assets.json
customers.helper/obj/Debug/net6.0/refint/customers.helper.dll
customers.helper/obj/Debug/net6.0/ref/customers.helper.dll
customers.helper/obj/Debug/net6.0/customers.helper.sourcelink.json
customers.helper/obj/Debug/net6.0/customers.helper.pdb
customers.helper/obj/Debug/net6.0/customers.helper.GlobalUsings.g.cs
customers.helper/obj/Debug/net6.0/customers.helper.GeneratedMSBuildEditorConfig.editorconfig
customers.helper/obj/Debug/net6.0/customers.helper.dll
customers.helper/obj/Debug/net6.0/customers.helper.csproj.FileListAbsolute.txt
customers.helper/obj/Debug/net6.0/customers.helper.csproj.CoreCompileInputs.cache
customers.helper/obj/Debug/net6.0/customers.helper.csproj.BuildWithSkipAnalyzers
customers.helper/obj/Debug/net6.0/customers.helper.csproj.AssemblyReference.cache
customers.helper/obj/Debug/net6.0/customers.helper.assets.cache
customers.helper/obj/Debug/net6.0/customers.helper.AssemblyInfoInputs.cache
customers.helper/obj/Debug/net6.0/customers.helper.AssemblyInfo.cs
customers.helper/obj/Debug/net6.0/customer.6B2EC75A.Up2Date
customers.helper/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
customers.helper/obj/customers.helper.csproj.nuget.dgspec.json
customers.helper/bin/Debug/net6.0/customers.helper.pdb
customers.helper/bin/Debug/net6.0/customers.helper.dll
customers.helper/bin/Debug/net6.0/customers.helper.deps.json
customers.helper/bin/Debug/net6.0/customers.domain.pdb
customers.helper/bin/Debug/net6.0/customers.domain.dll
customers.helper/bin/Debug/net6.0/customers.data.pdb
customers.helper/bin/Debug/net6.0/customers.data.dll
customers.exceptions/obj/project.nuget.cache
customers.exceptions/obj/project.assets.json
customers.exceptions/obj/Debug/net6.0/refint/customers.exceptions.dll
customers.exceptions/obj/Debug/net6.0/ref/customers.exceptions.dll
customers.exceptions/obj/Debug/net6.0/customers.exceptions.sourcelink.json
customers.exceptions/obj/Debug/net6.0/customers.exceptions.pdb
customers.exceptions/obj/Debug/net6.0/customers.exceptions.GlobalUsings.g.cs
customers.exceptions/obj/Debug/net6.0/customers.exceptions.GeneratedMSBuildEditorConfig.editorconfig
customers.exceptions/obj/Debug/net6.0/customers.exceptions.dll
customers.exceptions/obj/Debug/net6.0/customers.exceptions.csproj.FileListAbsolute.txt
customers.exceptions/obj/Debug/net6.0/customers.exceptions.csproj.CoreCompileInputs.cache
customers.exceptions/obj/Debug/net6.0/customers.exceptions.csproj.BuildWithSkipAnalyzers
customers.exceptions/obj/Debug/net6.0/customers.exceptions.assets.cache
customers.exceptions/obj/Debug/net6.0/customers.exceptions.AssemblyInfoInputs.cache
customers.exceptions/obj/Debug/net6.0/customers.exceptions.AssemblyInfo.cs
customers.exceptions/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
customers.exceptions/obj/customers.exceptions.csproj.nuget.dgspec.json
customers.exceptions/bin/Debug/net6.0/customers.exceptions.pdb
customers.exceptions/bin/Debug/net6.0/customers.exceptions.dll
customers.exceptions/bin/Debug/net6.0/customers.exceptions.deps.json
customers.data/obj/project.nuget.cache
customers.data/obj/project.assets.json
customers.data/obj/Debug/net6.0/refint/customers.data.dll
customers.data/obj/Debug/net6.0/ref/customers.data.dll
customers.data/obj/Debug/net6.0/customers.data.sourcelink.json
customers.data/obj/Debug/net6.0/customers.data.pdb
customers.data/obj/Debug/net6.0/customers.data.GlobalUsings.g.cs
customers.data/obj/Debug/net6.0/customers.data.genruntimeconfig.cache
customers.data/obj/Debug/net6.0/customers.data.GeneratedMSBuildEditorConfig.editorconfig
customers.data/obj/Debug/net6.0/customers.data.dll
customers.data/obj/Debug/net6.0/customers.data.csproj.FileListAbsolute.txt
customers.data/obj/Debug/net6.0/customers.data.csproj.CoreCompileInputs.cache
customers.data/obj/Debug/net6.0/customers.data.csproj.BuildWithSkipAnalyzers
customers.data/obj/Debug/net6.0/customers.data.csproj.AssemblyReference.cache
customers.data/obj/Debug/net6.0/customers.data.assets.cache
customers.data/obj/Debug/net6.0/customers.data.AssemblyInfoInputs.cache
customers.data/obj/Debug/net6.0/customers.data.AssemblyInfo.cs
customers.data/obj/Debug/net6.0/customer.73B12BC7.Up2Date
customers.data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
customers.data/obj/customers.data.csproj.nuget.dgspec.json
customers.data/bin/Debug/net6.0/customers.domain.pdb
customers.data/bin/Debug/net6.0/customers.domain.dll
customers.data/bin/Debug/net6.0/customers.data.runtimeconfig.json
customers.data/bin/Debug/net6.0/customers.data.pdb
customers.data/bin/Debug/net6.0/customers.data.dll
customers.data/bin/Debug/net6.0/customers.data.deps.json
customers.common/customers.domain/obj/project.nuget.cache
customers.common/customers.domain/obj/project.assets.json
customers.common/customers.domain/obj/Debug/net6.0/refint/customers.domain.dll
customers.common/customers.domain/obj/Debug/net6.0/ref/customers.domain.dll
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.sourcelink.json
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.pdb
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.GlobalUsings.g.cs
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.GeneratedMSBuildEditorConfig.editorconfig
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.dll
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.csproj.FileListAbsolute.txt
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.csproj.CoreCompileInputs.cache
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.csproj.BuildWithSkipAnalyzers
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.assets.cache
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.AssemblyInfoInputs.cache
customers.common/customers.domain/obj/Debug/net6.0/customers.domain.AssemblyInfo.cs
customers.common/customers.domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
customers.common/customers.domain/obj/customers.domain.csproj.nuget.dgspec.json
customers.common/customers.domain/bin/Debug/net6.0/customers.domain.pdb
customers.common/customers.domain/bin/Debug/net6.0/customers.domain.dll
customers.common/customers.domain/bin/Debug/net6.0/customers.domain.deps.json
customers.bussiness/obj/project.nuget.cache
customers.bussiness/obj/project.assets.json
customers.bussiness/obj/Debug/net6.0/refint/customers.bussiness.dll
customers.bussiness/obj/Debug/net6.0/ref/customers.bussiness.dll
customers.bussiness/obj/Debug/net6.0/customers.bussiness.sourcelink.json
customers.bussiness/obj/Debug/net6.0/customers.bussiness.pdb
customers.bussiness/obj/Debug/net6.0/customers.bussiness.GlobalUsings.g.cs
customers.bussiness/obj/Debug/net6.0/customers.bussiness.GeneratedMSBuildEditorConfig.editorconfig
customers.bussiness/obj/Debug/net6.0/customers.bussiness.dll
customers.bussiness/obj/Debug/net6.0/customers.bussiness.csproj.FileListAbsolute.txt
customers.bussiness/obj/Debug/net6.0/customers.bussiness.csproj.CoreCompileInputs.cache
customers.bussiness/obj/Debug/net6.0/customers.bussiness.csproj.BuildWithSkipAnalyzers
customers.bussiness/obj/Debug/net6.0/customers.bussiness.csproj.AssemblyReference.cache
customers.bussiness/obj/Debug/net6.0/customers.bussiness.assets.cache
customers.bussiness/obj/Debug/net6.0/customers.bussiness.AssemblyInfoInputs.cache
customers.bussiness/obj/Debug/net6.0/customers.bussiness.AssemblyInfo.cs
customers.bussiness/obj/Debug/net6.0/customer.98890F71.Up2Date
customers.bussiness/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
customers.bussiness/obj/customers.bussiness.csproj.nuget.dgspec.json
customers.bussiness/bin/Debug/net6.0/customers.helper.pdb
customers.bussiness/bin/Debug/net6.0/customers.helper.dll
customers.bussiness/bin/Debug/net6.0/customers.exceptions.pdb
customers.bussiness/bin/Debug/net6.0/customers.exceptions.dll
customers.bussiness/bin/Debug/net6.0/customers.domain.pdb
customers.bussiness/bin/Debug/net6.0/customers.domain.dll
customers.bussiness/bin/Debug/net6.0/customers.data.pdb
customers.bussiness/bin/Debug/net6.0/customers.data.dll
customers.bussiness/bin/Debug/net6.0/customers.bussiness.pdb
customers.bussiness/bin/Debug/net6.0/customers.bussiness.dll
customers.bussiness/bin/Debug/net6.0/customers.bussiness.deps.json
customers.api/obj/project.nuget.cache
customers.api/obj/project.assets.json
customers.api/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Customers.props
customers.api/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Customers.props
customers.api/obj/Debug/net6.0/staticwebassets/msbuild.build.Customers.props
customers.api/obj/Debug/net6.0/staticwebassets.build.json
customers.api/obj/Debug/net6.0/refint/Customers.dll
customers.api/obj/Debug/net6.0/ref/Customers.dll
customers.api/obj/Debug/net6.0/Customers.sourcelink.json
customers.api/obj/Debug/net6.0/Customers.pdb
customers.api/obj/Debug/net6.0/Customers.MvcApplicationPartsAssemblyInfo.cs
customers.api/obj/Debug/net6.0/Customers.MvcApplicationPartsAssemblyInfo.cache
customers.api/obj/Debug/net6.0/Customers.GlobalUsings.g.cs
customers.api/obj/Debug/net6.0/Customers.genruntimeconfig.cache
customers.api/obj/Debug/net6.0/Customers.GeneratedMSBuildEditorConfig.editorconfig
customers.api/obj/Debug/net6.0/Customers.dll
customers.api/obj/Debug/net6.0/Customers.csproj.Up2Date
customers.api/obj/Debug/net6.0/Customers.csproj.FileListAbsolute.txt
customers.api/obj/Debug/net6.0/Customers.csproj.CoreCompileInputs.cache
customers.api/obj/Debug/net6.0/Customers.csproj.BuildWithSkipAnalyzers
customers.api/obj/Debug/net6.0/Customers.csproj.AssemblyReference.cache
customers.api/obj/Debug/net6.0/Customers.assets.cache
customers.api/obj/Debug/net6.0/Customers.AssemblyInfoInputs.cache
customers.api/obj/Debug/net6.0/Customers.AssemblyInfo.cs
customers.api/obj/Debug/net6.0/apphost.exe
customers.api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
customers.api/bin/Debug/net6.0/System.Windows.Extensions.dll
customers.api/bin/Debug/net6.0/System.Security.Permissions.dll
customers.api/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
customers.api/bin/Debug/net6.0/System.Runtime.Caching.dll
customers.api/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
customers.api/bin/Debug/net6.0/System.Drawing.Common.dll
customers.api/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
customers.api/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
customers.api/bin/Debug/net6.0/System.Collections.Immutable.dll
customers.api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
customers.api/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
customers.api/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
customers.api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
customers.api/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
customers.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
customers.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
customers.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
customers.api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
customers.api/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
customers.api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
customers.api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
customers.api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
customers.api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
customers.api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
customers.api/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
customers.api/bin/Debug/net6.0/Microsoft.OpenApi.dll
customers.api/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
customers.api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
customers.api/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
customers.api/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
customers.api/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
customers.api/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
customers.api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
customers.api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
customers.api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
customers.api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
customers.api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
customers.api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
customers.api/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
customers.api/bin/Debug/net6.0/Customers.runtimeconfig.json
customers.api/bin/Debug/net6.0/Customers.pdb
customers.api/bin/Debug/net6.0/customers.helper.pdb
customers.api/bin/Debug/net6.0/customers.helper.dll
customers.api/bin/Debug/net6.0/Customers.exe
customers.api/bin/Debug/net6.0/customers.exceptions.pdb
customers.api/bin/Debug/net6.0/customers.exceptions.dll
customers.api/bin/Debug/net6.0/customers.domain.pdb
customers.api/bin/Debug/net6.0/customers.domain.dll
customers.api/bin/Debug/net6.0/Customers.dll
customers.api/bin/Debug/net6.0/Customers.deps.json
customers.api/bin/Debug/net6.0/customers.data.pdb
customers.api/bin/Debug/net6.0/customers.data.dll
customers.api/bin/Debug/net6.0/customers.bussiness.pdb
customers.api/bin/Debug/net6.0/customers.bussiness.dll
customers.api/bin/Debug/net6.0/appsettings.json
customers.api/bin/Debug/net6.0/appsettings.Development.json
.vs/Customers/v17/DocumentLayout.json
.vs/Customers/v17/DocumentLayout.backup.json
.vs/Customers/v17/.suo
.vs/Customers/FileContentIndex/7e68e5c7-fe8a-4a12-a7ff-12f5139c5bd2.vsidx
customers.api/obj/Debug/net6.0/ApiEndpoints.json
*.json
